/*.item-select select,  .item-select select option{
    left: 75%;
  }*/
  
  .item-Input, .input-label, .center-block {
    margin: auto;
    display: block;
    background-color: blue;
  }
  .center {
    text-align: center;
}