<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;" >
  
  <form>
    <ion-item lines="full">
      <ion-label class="center" position="floating">Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="center" position="floating">surname</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

  
    <ion-item class="item-input item-select">
      <div class="input-label"   >
        <select class="center">
          <option selected>Miss</option>
          <option>Mr</option>
          <option selected>Mrs</option>
          <option>Dr</option>
        </select>
      </div>
      
    </ion-item>
    
    
    <ion-item class="item-input item-select" >
      <div class="input-label">
   
      <select class="center" >
        <option *ngFor="let dep of department, index as i" (click)="displayModules()(dep[i].depCode)" value='[dep[i].depCode]'>{{dep.deptName}} of {{i}}</option>
        
      </select>
    </div>
    </ion-item>
<!--
    <ion-item class="item-input item-select" >
      <div class="input-label">
   
      <select class="center" >
        <option *ngFor="let mod of modules, index as i" (click)="displayModules()" value='[mod[i].subjCode]'>{{mod.subjCode}} of {{i}}</option>
        
      </select>
    </div>
    </ion-item>
      -->
    <ion-item lines="full">
      <ion-label class="center"position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="center" position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col >
        <ion-button type="submit"  color="danger" expand="block">CREATE ACCOUNT</ion-button>
        <a  [routerLink]="['/registration']" class="small-text">CANCEL</a>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
