
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title  size ="large">
            <em>  Weekly Report </em>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                <em>Weekly Report</em>

            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-fab vertical="center" horizontal="center
    " slot="fixed">
   
      <a href="/login" class="button" >Get<br>Started</a>

    </ion-fab>
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>




</ion-content>