<ion-content class="background">
    <ion-text>
        <h1>Welcome.</h1>
    </ion-text>
    <ion-card transparent="true">
        <ion-slides pager="true" [options]="slideOpts" autoplay="5000" loop="true" speed="300">
            <ion-slide>
                <img src="../../assets/images/1.jpg">
            </ion-slide>
            <ion-slide class="bg-2">
                <img src="../../assets/images/2.png">
            </ion-slide>
            <ion-slide class="bg-3">
                <img src="../../assets/images/3.png">
            </ion-slide>
            <ion-slide class="bg-4">
                <img src="../../assets/images/4.png">
            </ion-slide>
        </ion-slides>
    </ion-card>

    <div class="login-buttons">

        <img class="img1" alt="logo" width="50" height="40" src="../../assets/images/download.jpg" />

        <img class="img2" alt="logo" width="50" height="40" src="../../assets/images/images.jpg" />

    </div>
</ion-content>
<ion-footer color="primary">
    <div>
        <ion-button class="btn" shape="round" [routerLink]="['/login']" expand="block">Get Started</ion-button>
    </div>
</ion-footer>