<ion-content [fullscreen]="true" class="background">
    <div class="center">
        <h2 class="pgs1">LECTURER'S</h2>
        <h2 class="pgs2">WEEKLY REPORT</h2>
    </div>

        <div>
                <img class="img1" alt="logo" width="110" height="65" src="../../assets/images/ICEP.png" />
        </div>

    <ion-fab vertical="center" horizontal="center
    " slot="fixed">

        

        <a href="/login" class="button">ICEP START</a>

    </ion-fab>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</ion-content>