<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content style="text-align: center;">
    <form (ngSubmit)="logForm()">
        <ion-list>

            <ion-item>
                <ion-label position="floating ">Role</ion-label>
                <ion-select #newSelect [(ngModel)]="select.role" name="select.role" [ngModelOptions]="{standalone: true}" interface="action-sheet">
                    <ion-select-option value="HOD" checked="true">HOD</ion-select-option>
                    <ion-select-option value="LECTURER">Lecturer</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="floating ">Username</ion-label>
                <ion-input type="email" [(ngModel)]="select.email" name="select.email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating ">Password</ion-label>
                <ion-input type="password" [(ngModel)]="select.password" name="select.password"></ion-input>
            </ion-item>

            <div padding>
                <ion-button size="small" shape="round" type="submit" block>Login</ion-button>
            </div>
            <a size="small" [routerLink]="['/registration']">CREATE ACCOUNT</a>

        </ion-list>
    </form>

</ion-content>