.center {
    text-align: center;
}

.item-Input,
.input-label,
.center-block {
    margin: auto;
    display: block;
    background-color: blue;
}

ion-button {
    right: 25%;
    width: 60%;
}

a {
    right: 25%;
}

ion-card {
    height: 90%;
    top: 2%;
}