<ion-header>
    <ion-toolbar>
        <ion-title>lectureDashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!--<ion-card>
        <img src="img/nin-live.png" />
        <ion-card-content>
            <ion-card-title>
                Nine Inch Nails Live
            </ion-card-title>
            <p>
                The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
            </p>
        </ion-card-content>
    </ion-card>-->

    <ion-item>
        <a href="/home">modules</a>
    </ion-item>

</ion-content>
