<ion-header>
    <ion-toolbar color="primary">
        <div *ngIf="contentLoaded">
            <ion-title class="text-center">Dashboard</ion-title>
            <div>
                <a [routerLink]="['/reports']" class="view" (click)="reports()">My Reports</a>
            </div>

        </div>
        <div *ngIf="!contentLoaded">
            <ion-skeleton-text animated></ion-skeleton-text>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="text-center">
    <ion-card color="light">
        <ion-card-header>
            <ion-card-title class="text-center"></ion-card-title>
            <div *ngIf="contentLoaded">
                <ion-avatar class="avatar">
                    <img src="../../assets/images/av.png">
                </ion-avatar>
            </div>
            <div *ngIf="!contentLoaded">
                <ion-skeleton-text animated style="width: 2%;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 5%;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 2%;"></ion-skeleton-text>
            </div>
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                <div *ngIf="contentLoaded">
                    <h3 class="text-center">{{lectureName}}</h3>
                    <h3 class="text-center">{{email}}</h3>
                    <h3 class="text-center">{{departmentName}}</h3>
                </div>
                <div *ngIf="!contentLoaded">
                    <ion-skeleton-text animated style="width: 10%;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 10%;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 10%;"></ion-skeleton-text>
                </div>
            </ion-text>
        </ion-card-content>
    </ion-card>
    <ion-item class="text-center">
        <ul>
            <div *ngIf="contentLoaded">
                <div *ngFor="let lecInfo of lectureInfo">
                    <ion-button expand="full" color="light" (click)="getModule(lecInfo.lecSubId)">{{lecInfo.subjCode}}</ion-button>
                </div>
            </div>
            <div *ngIf="!contentLoaded">
                <ion-skeleton-text animated style="width: 3000%;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 3000%;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 3000%;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 3000%;"></ion-skeleton-text>
            </div>
        </ul>
    </ion-item>

    <div *ngIf="contentLoaded" class="ion-padding">
        <ion-button [routerLink]="['/login']" expand="block" shape="round" fill="clear">logout</ion-button>
    </div>
    <div *ngIf="!contentLoaded" class="ion-padding">
        <ion-skeleton-text animated style="width: 10%;"></ion-skeleton-text>
    </div>

</ion-content>