.text-center{
    text-align: center;
}
.avatar{
    margin: auto;
}

a {
    position: absolute;
    right: 4%;
    color: white;
}

.btn1 {
    position: relative;
    right: 10%;
    width: 40%
}

.crd {
    height: 40%;
    top: 2%;
}