
ion-content.background{

    --background: #f4f5f8;
   }
   
   .styleContent{
     border: 1px solid #ddd;
     margin-top:5px;
     margin-bottom: 5px;
     padding: 4px;
     border-radius: 5px;
   }
   .text-center{
    text-align: center;
}


   
   