<ion-header>
    <ion-toolbar>
        <ion-title>hod-dashboard</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-card color="light">
        <ion-card-header>
            <ion-card-title class="text-center"></ion-card-title>
            <ion-avatar class="avatar">
                <img src="../../assets/images/profile.jpg">
            </ion-avatar>
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                <h3 class="text-center">{{hodName}}</h3>
                <h3 class="text-center">{{email}}</h3>
                <h3 class="text-center">{{deptName}}</h3>
            </ion-text>
        </ion-card-content>
    </ion-card>
    <ion-card color="light">
        <ion-card-header>
            <ion-card-title class="text-center"></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item-divider>
                <h3>Modules</h3>
            </ion-item-divider>
            <ion-item>
                <ul>
                    <ion-item *ngFor="let dash of dashboard" (click)="detailedReport(dash.reportNum)">{{dash.subjCode}}</ion-item>

                </ul>
            </ion-item>
            <div class="ion-padding">
                <ion-button size="small" color="primary" (click)="summary()" expand="block">Summary</ion-button>
                <ion-button size="small" color="primary" [routerLink]="['/login']" expand="block" shape="round" fill="clear">logout</ion-button>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>