<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

  <ion-header collapse="condense" >
    <ion-toolbar >
      <ion-title size="large" >
        <em class="head">Weekly Report</em> 

      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="btn">
      <ion-button  shape="round" [routerLink]="['/login']">Get started</ion-button>
  </div>

  


  
</ion-content>
