
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="auth-form" style="text-align: center;">
  <ion-grid>
    <ion-row>

      <ion-col >
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">CREATE ACCOUNT</ion-button>

        <span class="divider line one-line">or</span>

        <span class="already">Already a user?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">LOGIN</ion-button>
        
        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
 


<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">HOME</ion-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content class="auth-form" style="text-align: center;">
    <ion-grid>
      <ion-row>
  
        <ion-col >
          <ion-button [routerLink]="['/registration']" expand="block" color="primary">CREATE ACCOUNT</ion-button>
  
          <span class="divider line one-line">or</span>
  
          <span class="already">Already a user?</span>
  
          <ion-button [routerLink]="['/login']" expand="block" color="danger">LOGIN</ion-button>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
   
  
